$tabasco:               hsl(10, 76%, 33%);
$eden:                  hsl(198, 52%, 24%);

$gray-dark:             hsl(270, 1%, 26%);
$white:                 white;

$color-primary:         $eden;
$color-secondary:       $tabasco;

$color-body: $gray-dark;
$color-link: $color-primary;
