<nav class="mdl-navigation">
  <a class="mdl-navigation__link" href="/service">Service</a>
  <a class="mdl-navigation__link" href="/inspections">Inspections</a>
  <a class="mdl-navigation__link" href="/rentals">Rentals</a>
  <a class="mdl-navigation__link" href="/contact">Contact</a>
</nav>
