<header class="topbar mdl-layout__header mdl-layout__header--waterfall">
  <!-- Top row, always visible -->
  <div class="mdl-layout__header-row">
    <!-- Title -->
    <a class="mdl-layout-title brand-link" href="/">Canadian Steam LTD</a>
  </div>
  <!-- Bottom row, not visible on scroll -->
  <div class="mdl-layout__header-row">
    <div class="mdl-layout-spacer"></div>
    <%= partial "main_nav" %>
  </div>
</header>
