---
title: Canadian Steam
---

<div class="hero">
  <video autoplay loop id="intro-video">
    <source src="<%= image_path('intro.ogg') %>" type="video/ogg">
    <source src="<%= image_path('intro.mp4') %>" type="video/mp4">
  </video>
</div>

<p>
  Intro to the company and their offerings of Service, Inspections, and Rentals
  and some buzz-words of glory, maybe some certification or something.
</p>

<blockquote>
  Canadian Steam Ltd. Has been a leading service and rental company in BC and
  Alberta for 25 years. With over 80 Million BTU available across our various
  rental units, we have the solution for your rental needs.
</blockquote>

<p>
  Other words for Service, and don’t forget you have to get your boiler
  inspected every year. We do annual inspections, and have rental boilers
  available so your company has no down-time and can keep making money while
  the inspection gets done
</p>
